.interna_contato{
    background: url("..//img/bg-contato.jpg") no-repeat center;
    background-size: cover;
}

/*Orçamento*/

.contato{
    padding: 40px 0;
}

.contato-form{
    padding-right: 60px;
}

.contato-form label{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.contato-form input, textarea{
    display: block;
    border: 4px solid #FEC63E;
    width: 100%;
    background: none;
    padding: 7px 10px;
    outline-style: none;
    margin-bottom: 14px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contato-form textarea{
    height: 120px;
    margin-bottom: 20px;
}

.contato-form .btn{
    padding: 7px 40px;
    background: none;
}

.contato-dados{
    color: black;
}

.contato-dados h3{
    color: #FEC63E;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .1em;
    padding-bottom: 5px;
    line-height: 25px;
}

.contato-dados span{
    display: block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}

.contato-dados span:nth-of-type(even){
    margin-bottom: 30px;
}

.contato-dados ul li{
    display: inline-block;
}

.contato-dados ul li a{
    padding: 10px;
    border: 3px solid #FEC63E;
    display: inline-block;
    margin-right: 12px;
}

.contato-dados ul li a:hover{
    border: solid black;
}

.contato-dados p{
    margin: 8px 0;
}

.contato-redes{
    color: #FEC63E;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.contato-redes:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
    margin: 6px 0 12px 0;
}

.footer-dados-h3:hover{
    color: black;
}

.contato-mapa{
    margin-bottom: 60px;
}